---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Certifications" sideBarActiveItemID="certifications">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.credly.com/badges/1a49a1aa-bbbe-4409-8ee0-285e77ecf5d7/public_url" target="_blank"> GCP Professional Cloud Architect Certification</a>
    </li>
    <li>
      <a href="https://www.credential.net/79884584-7dc2-46ac-8887-eb44e4a9e7a6#acc.eyDaU0sp" target="_blank"> Google Cloud Certified Associate Cloud Engineer</a>
    </li>
    <!-- Keep the rest of your certifications here -->
    <li>
      <a href="https://courses.cognitiveclass.ai/certificates/ae02f62596564dec9bced7bb27ddae80" target="_blank"> R 101 </a>
    </li>
  </ul>
</BaseLayout>
