---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <style>
li {
  list-style-position: outside;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
</style>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    
   Senior Data Engineer with over 8 years of experience in designing, implementing, and maintaining scalable data architectures and pipelines. 
<li>	Designing and maintain scalable data pipelines using  ETL tools like Apache Nifi, Apache Spark, SSIS, Airflow, Airbyte, ODI etc.</li>
<li>	Expert in Linux/Unix environments and skilled in leveraging Hive, Spark, Teradata, SQL Server, Oracle PL/SQL, MySQL, and DB2 for advanced data engineering and analytics solutions..</li>
<li>	Creating data pipelines for data ingestion using SSIS, Apache NiFi and Apache Spark.</li>
<li>	Hands on experience in writing extensive ETL Scripts in Spark using Scala/Python/R.</li>
<li>	Good knowledge of shell scripting for Linux.</li>
<li>	Led the migration of legacy systems to cloud-based platforms (Cloudera, GCP etc)</li>
<li>	Hands on experience on writing complex queries in SQL/HQL/Teradata.</li>
<li>	I also possess strong domain knowledge of both Banking core system (mainly Temenos T24) as well as telcos.</li>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BS in Software Engineering"
      subtitle="2013 to 2017 at International Islamic University, Islamabad"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Data Engineer & Platform Administrator at MAGNOOS Information Systems"
      subtitle="From Nov 2023 to Present, Riyadh, Saudia Arabia  "
    
    >
      Upgrading existing Bigdata environments from older versions to newer versions for different clients across the globe.
<li>Migration of data and software from older versions to newer versions.</li>
<li>Providing administration related support to clients after upgrading activity or new installation.</li>
<li>Installation of new environments from scratch on both on-premises environment and on-cloud environments.</li>
<li>Enabling TLS/SSL on environments, integration with LDAPS and enabling Kerberos for security.</li>
<li>Integration with various tools for efficient data ingestion and downstream processing, enhancing overall data pipeline functionality.</li>
<li>Smoke testing and optimization of overall performance of the platforms.</li>
<li>Assisting team in connecting platform with upstream applications using Informatica, Nifi for data ingestion.      And downstream applications such as Power BI, Denodo etc.</li>

    </TimeLineElement>
    <TimeLineElement
      title="SR. CONSULTANT-BIGDATA  at Blutech Consulting"
      subtitle="From April 2018 to [End Date] at November 2024, Islamabad, Pakistan"
    >
      <li>Designed a solution architecture for Cloudera Data Platform (CDP 7.1.6) and CDF (Cloudera Data Flow) while keeping in mind the requirements for use cases and future data needs.</li>
  <li>Completely responsible for installation and maintenance of any new service on Cloudera/Hadoop.</li>
  <li>Designed and developed ETL pipelines utilizing Apache Spark and Nifi for data ingestion and data processing into Data Lake.</li>
  <li>Installed and configured Cloudera Data Flow (Nifi) while shutting down existing ETL tool Streamsets.</li>
  <li>Installed and upgraded existing platform CDH 6.3 to CDP along with all services and data elements.</li>
  <li>Installed and configured Jupyter Hub for data science team and integrated it with LDAP.</li>
  <li>Responsible for implementation of any patch activities and maintenance activities related to Bigdata.</li>
  <li>Responsible for Modifications and Deployment of pipelines from QA environment to PROD environment.</li>
  <li>Integrated Cloudera with Kerberos (using Active Directory) for security and ease of authorization for all teams.</li>
  <li>Completely responsible for management of overall documentation of the Project for Cloudera and related services implemented.</li>
  <li>Capacity & hardware planning for Kudu, Kafka, and HDFS.</li>
  <li>Coordinating between different business teams and helping them resolve their data and cluster related issues.</li>
  <li>Creation of automated jobs for archiving and daily backups of important scripts, extracts, databases etc.</li>
    </TimeLineElement>
  
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.credly.com/badges/1a49a1aa-bbbe-4409-8ee0-285e77ecf5d7/public_url" target="_blank"> GCP Professional Cloud Architect Certification</a>
    </li>
    <li>
      <a href="https://www.credential.net/79884584-7dc2-46ac-8887-eb44e4a9e7a6#acc.eyDaU0sp" target="_blank"> Google Cloud Certified Associate Cloud Engineer</a>
    </li>
    <li>
      <a href="https://www.credly.com/badges/1a49a1aa-bbbe-4409-8ee0-285e77ecf5d7/public_url" target="_blank"> GCP - Associate Cloud Engineer</a>
    </li>
    <li>
      <a href="https://www.credly.com/badges/f2bd630b-b5a3-404c-8a48-3b438f5d9997/linked_in_profile" target="_blank"> Cloudera - CDP Certified Data Engineer </a>
    </li>
        <li>
      <a href="https://www.credly.com/badges/e9925a7c-f3ee-4dba-8f11-1721198e7616/public_url" target="_blank"> Cloudera - CDP Certified Data Developer </a>
    </li>
    
     <li>
      <a href="https://www.credly.com/badges/58f204a5-b37e-4085-9706-c0bbcae460e2/public_url" target="_blank"> Cloudera - CDP Certified Administrator Private Cloud  </a>
    </li>
    
        <li>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/8c710f99-ee88-4324-8693-7025f754fee5" target="_blank"> AWS Solutions Architect Associate 2022: Architecture & Tools </a>
    </li>
        <li>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/54abf5dd-d7a5-4e9c-9eec-7f4193cff238" target="_blank"> AWS Solutions Architect Associate : Data Storage Services </a>
    </li>
    <li>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/617980db-2d62-47d2-af91-e35f8e4a817e" target="_blank"> AWS Solutions Architect Professional : General Architecture </a>
    </li>
      <li>
      <a href="https://skillsoft.digitalbadges.skillsoft.com/8c710f99-ee88-4324-8693-7025f754fee5" target="_blank"> AWS Solutions Architect Professional: Migration Strategies</a>
    </li>
       <li>
      <a href="https://www.coursera.org/account/accomplishments/certificate/VMNKEQUDB6UK" target="_blank"> Leveraging Unstructured Data with Cloud Dataproc on Google Cloud Platform</a>
    </li>
     <li>
      <a href="https://www.coursera.org/account/accomplishments/verify/Y3ZF3P3G2PWX" target="_blank"> Google Cloud Platform Big Data and Machine Learning Fundamentals </a>
    </li>
     <li>
      <a href="https://courses.cognitiveclass.ai/certificates/60bee2dc160740139a72943752874a40" target="_blank"> Data Visualization with R </a>
    </li>
     <li>
      <a href="https://courses.cognitiveclass.ai/certificates/73b4daeebc5e4ee596ef82831bcfd515" target="_blank"> Accessing Hadoop Data using Hive </a>
    </li>
     <li>
      <a href="https://courses.cognitiveclass.ai/certificates/b0476b0838e8426f8cb5e4d4feeb4b65" target="_blank"> SQL and Relational Databases  </a>
    </li>
     <li>
      <a href="https://courses.cognitiveclass.ai/certificates/45e05ebbc20041c5a19f8edf4163b838" target="_blank"> Bigdata 101  </a>
    </li>
      <li>
      <a href="https://courses.cognitiveclass.ai/certificates/f999778e98e0462f92a654a75455cbe3" target="_blank"> Controlling Hadoop Jobs using Oozie </a>
    </li>
      <li>
      <a href="https://courses.cognitiveclass.ai/certificates/c5c0a9633e5646468c95e9061c38d751" target="_blank"> Hadoop 101 </a>
    </li>
       <li>
      <a href="https://courses.cognitiveclass.ai/certificates/5c675eef3d4441f8934b184aa04a3351" target="_blank"> Moving Data into Hadoop </a>
    </li>
      <li>
      <a href="https://courses.cognitiveclass.ai/certificates/ae02f62596564dec9bced7bb27ddae80" target="_blank"> R 101 </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
