---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <style>
li {
  list-style-position: outside;
  padding-left: 1em;
  text-indent: -1em;
}
</style>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    
   Senior Data Engineer with over 8 years of experience in designing, implementing, and maintaining scalable data architectures and pipelines. 
<li>	Designing and maintain scalable data pipelines using  ETL tools like Apache Nifi, Apache Spark, SSIS, Airflow, Airbyte, ODI etc.</li>
<li>	Expert in Linux/Unix environments and skilled in leveraging Hive, Spark, Teradata, SQL Server, Oracle PL/SQL, MySQL, and DB2 for advanced data engineering and analytics solutions..</li>
<li>	Creating data pipelines for data ingestion using SSIS, Apache NiFi and Apache Spark.</li>
<li>	Hands on experience in writing extensive ETL Scripts in Spark using Scala/Python/R.</li>
<li>	Good knowledge of shell scripting for Linux.</li>
<li>	Led the migration of legacy systems to cloud-based platforms (Cloudera, GCP etc)</li>
<li>	Hands on experience on writing complex queries in SQL/HQL/Teradata.</li>
<li>	I also possess strong domain knowledge of both Banking core system (mainly Temenos T24) as well as telcos.</li>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BS in Software Engineering"
      subtitle="2013 to 2017 at International Islamic University, Islamabad"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Data Engineer & Platform Administrator at MAGNOOS Information Systems"
      subtitle="From Nov 2023 to Present, Riyadh, Saudia Arabia  "
    
    >
      Upgrading existing Bigdata environments from older versions to newer versions for different clients across the globe.
<li>Migration of data and software from older versions to newer versions.</li>
<li>Providing administration related support to clients after upgrading activity or new installation.</li>
<li>Installation of new environments from scratch on both on-premises environment and on-cloud environments.</li>
<li>Enabling TLS/SSL on environments, integration with LDAPS and enabling Kerberos for security.</li>
<li>Integration with various tools for efficient data ingestion and downstream processing, enhancing overall data pipeline functionality.</li>
<li>Smoke testing and optimization of overall performance of the platforms.</li>
<li>Assisting team in connecting platform with upstream applications using Informatica, Nifi for data ingestion.      And downstream applications such as Power BI, Denodo etc.</li>

    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
