---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Muhammad Hamza Khan</div>
    <div class="text-3xl py-3 font-bold">Cloud Engineer | Cloudera Administrator | Senior Data Engineer | Senior Bigdata Consultant | Professional Cloud Architect</div>
    <div class="py-2">
      <text class="text-lg">
        Data engineer with 8+ years of experience in building and maintaining scalable data pipelines. Proven ability to use a variety of technologies, including GCP, AWS, Azure, Cloudera, Hadoop, Databricks, Spark, and Kafka, to solve complex problems using data. Some of the prominent clients I have worked with are stc Bahrain, Altron South Africa, Allied Bank Ltd, Bank Al Falah and HBL Pakistan.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/hamza-khan-niazi/" target="_blank"> Let's connect!</a>
      
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="STC, Bahrain"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

 
</BaseLayout>
